section{ text-align: center;}
.flex-container{
display : flex;
flex-direction: row;
justify-content: space-around;
}
.flex-item {
background-color: #990000;
color: white;
margin: 0 1em 1em;
}
.item1{ flex-grow: 1;}
.item2{ flex-grow: 2;}
.item3{ flex-grow: 3;}
.item4{ flex-grow: 4;}
@media screen and (max-width: 780px){
    .flex-container{
        flex-direction: column-reverse;
    }
}